.env
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
env/
venv/
.venv/
instance/
user.json
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache

# Virtual environment
venv/
.env

# Logs
*.log

# Database / JSON files (agar private data hai)
*.sqlite3
*.db
*.json

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
